<% include ../partials/header %>
<section class="showcase showcase--content">
	<div class="list">

		<div class="list__controls list__controls--nonpaginate">
			<% if (!user) { %>
			<a class="list__control" href="/login">Log In to Post</a>
			<% } else if (user.isAdmin) { %>
			<a class="list__control" href="/topics/new">New Topic</a>
			<% } %>
		</div>

		<% topics.forEach(topic => { %>
		<div class="list__section">
			<div class="list__section__header">
				<div class="list__section__title">
					<h2>
						<%= topic.title %>
					</h2>
				</div>
				<p class="list__section__label">Posts</p>
				<p class="list__section__label">Replies</p>
				<p class="list__section__label">Active</p>
			</div>

			<% topic.forums.forEach((forum, i) => { %>
			<% if (i === topic.forums.length - 1 && i === 0) { %>
			<div class="list__item list__item--single">
			<% } else if (i === 0) { %>
			<div class="list__item list__item--top">
			<% } else if (i === topic.forums.length - 1) { %>
			<div class="list__item list__item--bottom">
			<% } else { %>
			<div class="list__item">
			<% } %>
				<div class="list__item__headline">
					<a class="list__item__title" href="/forums/<%= forum.id %>">
						<%= forum.title %>
					</a>
					<p class="list__item__subtitle">
						<%= forum.description %>
					</p>
				</div>
				<h3 class="list__feature list__item__feature">
					Created by <%= forum.author.username %> <%= moment(forum.createdAt).fromNow() %>
				</h3>
				<h3 class="list__item__stat list__item__stat--1"><%= forum.posts.length %></h3>
				<h3 class="list__item__stat list__item__stat--2"><%= forum.replies || 0 %></h3>
				<h3 class="list__item__stat list__item__stat--3"><%= forum.lastActive ? moment(forum.lastActive).fromNow() : 'Never' %></h3>
			</div>
			<% }); %>
		</div>
		<div class="list__controls list__controls--nonpaginate">
		<% if (!user) { %>
			<a class="list__control" href="/login">Log In to Post</a>
			<% } else if (user.isAdmin) { %>
			<a class="list__control" href="/forums/new/<%= topic.id %>">New <%= topic.title %> Forum</a>
			<% } %>
		</div>
		<% }); %>
	</div>
</section>

<% include ../partials/footer %>