<% include ../partials/header %>
<section class="showcase showcase--single showcase--content">
	<div class="forum__list">

		<div class="list__controls">
			<% if (user.isAdmin) { %>
				<a class="list__control" href="/topics/new">New Topic</a>
			<% } %>
		</div>

		<% topics.forEach(topic => { %>
		<div class="forum__section">
			<div class="forum__section__header">
				<div class="forum__section__title">
					<h2>
						<%= topic.title %>
					</h2>
					<% if (user.isAdmin) { %>
					<a class="list__control" href="/forums/new/<%= topic.id %>">New Forum</a>
					<% } %>
				</div>
				<p class="forum__section__header__label">Posts</p>
				<p class="forum__section__header__label">Replies</p>
				<p class="forum__section__header__label">Last Post</p>
			</div>

			<% topic.forums.forEach((forum, i) => { %>
			<% if (i === topic.forums.length - 1 && i === 0) { %>
			<div class="forum forum--single">
			<% } else if (i === 0) { %>
			<div class="forum forum--top">
			<% } else if (i === topic.forums.length - 1) { %>
			<div class="forum forum--bottom">
			<% } else { %>
			<div class="forum">
			<% } %>
				<a class="forum__title" href="/forums/<%= forum.id %>"><%= forum.title %></a>
				<h3 class="forum__feature">
					created by <%= forum.author.username %> <%= moment(forum.createdAt).fromNow() %>
				</h3>
				<h3 class="forum__stat forum__stat--1"><%= forum.posts.length %></h3>
				<h3 class="forum__stat forum__stat--2"><%= forum.replies || 0 %></h3>
				<h3 class="forum__stat forum__stat--3"><%= forum.lastPost ? moment(forum.lastPost).fromNow() : 'Never' %></h3>
			</div>
			<% }); %>
		</div>
		<% }); %>

		<!-- <div class="forum__section">
			<div class="forum__section__header">
				<h2 class="forum__section__title">Forum Section</h2>
				<p class="forum__section__header__label">Posts</p>
				<p class="forum__section__header__label">Replies</p>
				<p class="forum__section__header__label">Last Post</p>
			</div>
			<div class="forum forum--single">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
		</div>

		<div class="forum__section">
			<div class="forum__section__header">
				<h2 class="forum__section__title">Forum Section</h2>
				<p class="forum__section__header__label">Posts</p>
				<p class="forum__section__header__label">Replies</p>
				<p class="forum__section__header__label">Last Post</p>
			</div>
			<div class="forum forum--top">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
			<div class="forum forum--bottom">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
		</div>

		<div class="forum__section">
			<div class="forum__section__header">
				<h2 class="forum__section__title">Forum Section</h2>
				<p class="forum__section__header__label">Posts</p>
				<p class="forum__section__header__label">Replies</p>
				<p class="forum__section__header__label">Last Post</p>
			</div>
			<div class="forum forum--top">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
			<div class="forum">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
			<div class="forum forum--bottom">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
		</div> -->

	</div>
</section>

<% include ../partials/footer %>