<% include ../partials/header %>
<section class="showcase showcase--content">
	<div class="list">

		<div class="list__controls">
			<a class="list__control" href="/forums">
				<i class="fas fa-chevron-left"></i>
			</a>
			<% if (!user) { %>
			<a class="list__control" href="/login">Log In to Post</a>
			<% } else { %>
			<a class="list__control" href="/posts/new/<%= forum.id %>">New Post</a>
			<% } %>
		</div>

		<div class="list__section">
			<div class="list__section__header list__section__header--2stat">
				<h2><%= forum.title %></h2>
				<p class="list__section__label">Replies</p>
				<p class="list__section__label">Active</p>
			</div>
			<% forum.posts.forEach((post, i) => { %>
			<% if (i === forum.posts.length - 1 && i === 0) { %>
			<div class="list__item list__item--2stat list__item--single">
			<% } else if (i === 0) { %>
			<div class="list__item list__item--2stat list__item--top">
			<% } else if (i === forum.posts.length - 1) { %>
			<div class="list__item list__item--2stat list__item--bottom">
			<% } else { %>
			<div class="list__item list__item--2stat">
			<% } %>
				<a class="list__item__title" href="/posts/<%= post.id %>">
					<%= post.title %>
				</a>
				<h3 class="list__item__feature">
					Posted by <%= post.author.username %>
					<%= moment(post.createdAt).fromNow() %></h3>
				<h3 class="list__item__stat list__item__stat--1">
					<%= post.replies.length %>
				</h3>
				<h3 class="list__item__stat list__item__stat--2">
					<%= post.lastActive ? moment(post.lastActive).fromNow() : 'Never' %>
				</h3>
			</div>
			<% }); %>
		</div>

	</div>
</section>

<% include ../partials/footer %>
