<% include ../partials/header %>
<section class="showcase showcase--single showcase--content">
	<div class="post__list">

		<div class="list__controls">
			<a class="list__control" href="/forums">Forum Index</a>
			<a class="list__control" href="/posts/new/<%= forum.id %>">New Post</a>
		</div>

		<div class="post__section">
			<div class="post__section__header">
				<h2><%= forum.title %></h2>
				<p class="post__section__header__label">Replies</p>
				<p class="post__section__header__label">Last Reply</p>
			</div>
			<% forum.posts.forEach((post, i) => { %>
			<% if (i === forum.posts.length - 1 && i === 0) { %>
			<div class="post post--single">
			<% } else if (i === 0) { %>
			<div class="post post--top">
			<% } else if (i === forum.posts.length - 1) { %>
			<div class="post post--bottom">
			<% } else { %>
			<div class="post">
			<% } %>
				<a class="post__title" href="/posts/<%= post.id %>">
					<%= post.title %>
				</a>
				<h3 class="post__author">created by
					<%= post.author.username %>
					<%= moment(post.createdAt).fromNow() %></h3>
				<h3 class="post__stat post__stat--1">Stat 1</h3>
				<h3 class="post__stat post__stat--2">Stat 2</h3>
			</div>
			<% }); %>
		</div>

	</div>
</section>

<% include ../partials/footer %>