<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/modern-normalize.css">
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
		<link rel="stylesheet" href="./css/main.css">
		<title>FuskerBrothers | Welcome</title>
		<script src="./js/main.js" async defer></script>
  </head>

  <body>
    <header>
			<a class="brand" href="/">FuskerBrothers</a>
      <nav class="nav--big">
        <div class="nav__section">
					<a class="nav__link <%= page === 'landing' ? 'active' : ''%>" href="/">Home</a>
					<% if (!user) { %>
					<% } else { %>
					<a href="/forum" class="nav__link <%= page === 'forum' ? 'active' : ''%>">Forum</a>
					<% } %>
        </div>
        <div class="nav__divider"></div>
        <div class="nav__section">
          <% if (!user) { %>
          <a href="/login" class="nav__link <%= page === 'login' ? 'active' : ''%>">Sign In</a>
          <a href="/register" class="nav__link <%= page === 'register' ? 'active' : ''%>">Sign Up</a>
					<% } else { %>
						<div id="dropdown--big" class="dropdown--big">
							<span class="nav__link">Signed in as <%= user.username %></span>
							<div id="dropdown__content--big" class="dropdown__content dropdown__content--big">
								<div class="dropdown__spacer--big">
									
								</div>
								<div class="dropdown__content--visible dropdown__content--visible--big">
									<a class="nav__link" href="#">My Profile</a>
									<a class="nav__link" href="/forgot">Reset Password</a>
									<a class="nav__link" href="/logout">Sign Out</a>
								</div>
							</div>
						</div>
          <% } %>
        </div>
			</nav>

			<nav class="nav--small">
				<div id="dropdown--small" class="dropdown--small">
					<i class="dropdown__icon fas fa-bars"></i>
					<div id="dropdown__content--small" class="dropdown__content dropdown__content--small">
						<div class="dropdown__spacer">
							
						</div>
						<div class="dropdown__content--visible dropdown__content--visible--small">
							<a class="nav__link <%= page === 'landing' ? 'active' : ''%>" href="/">Home</a>
							<% if (!user) { %>
							<% } else { %>
							<a href="/forum" class="nav__link <%= page === 'forum' ? 'active' : ''%>">Forum</a>
							<% } %>
							<div class="dropdown__divider--small">
								
							</div>
							<% if (!user) { %>
							<a href="/login" class="nav__link <%= page === 'login' ? 'active' : ''%>">Sign In</a>
							<a href="/register" class="nav__link <%= page === 'register' ? 'active' : ''%>">Sign Up</a>
							<% } else { %>
							<a class="nav__link" href="#">My Profile</a>
							<a class="nav__link" href="/reset">Reset Password</a>
							<a class="nav__link" href="/logout">Sign Out</a>
							<% } %>
						</div>
					</div>
				</div>
			</nav>
    </header>

    <% if (error && error.length > 0) { %>
		<div id="alert" class="alert">
      <p class="alert--content alert--error"><%= error %></p>
    </div>
    <% } %>
    <% if (success && success.length > 0) { %>
    <div id="alert" class="alert">
      <p class="alert--content alert--success"><%= success %></p>
    </div>
    <% } %>